[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
bokeh = ">=2.0"
ipywidgets = ">=7.5.0"
jupyter-bokeh = "*"
matplotlib = "==3.1.*"
plotly = ">=4.5.0"
seaborn = "*"


[requires]
python_version = "3.7"
